* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* body {
  margin-left: 200px !important;
  padding-left: 200px !important;
} */
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
  padding-top: 50px;
}

.demo-area {
  width: 90%;
  min-height: 300px;
  background-color: #fff;
  padding: 50px;
}

.drawer-container {
  transition: all 0.3s;
}
