.enter {
  opacity: 0;
  transition: all 2s linear;
}
.enter-active {
  opacity: 1;
}

.animated-node-enter,
.animated-node-appear {
  opacity: 0;
}

.animated-node-enter-active,
.animated-node-appear-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.animated-node-exit {
  opacity: 1;
}
.animated-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
.animated-node-exit-done {
  opacity: 0;
}
